.modal {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 999;
  display: none;
}
.modal_opened {
  display: flex;
  align-items: center;
  justify-content: center;
}
.modal__container {
  position: relative;
  background-color: #fff;
  padding: 36px;
  border-radius: 10px;
}
.modal__close {
  position: absolute;
  bottom: calc(100% + 5px);
  left: calc(100% + 5px);
  width: 40px;
  height: 40px;
  background-image: url(../images/button-close.svg);
  border-style: none;
  background-color: transparent;
  background-size: contain;
  outline: none;
}
.modal__close:hover {
  cursor: pointer;
  opacity: 60%;
}
.modal__heading {
  margin: 0;
  margin-bottom: 34px;
  color: #000;
  font-size: 24px;
  font-weight: 900;
  line-height: 29.05px;
  max-width: 330px;
}
.modal__form {
  display: flex;
  flex-direction: column;
  width: 358px;
  gap: 29px;
}
.modal__form input {
  border: none;
  font-weight: 400;
  font-size: 14px;
  line-height: 26px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}
.modal__button {
  border-style: none;
  background-color: #000;
  color: #fff;
  font-weight: 400;
  font-size: 18px;
  line-height: 21.78px;
  padding: 15px;
  margin-top: 19px;
}

.modal__image_container {
  position: relative;
}

.modal__image_image {
  max-width: 75vw;
  max-height: 75vh;
}
.modal__image_text {
  font-size: 12px;
  font-weight: 400px;
  line-height: 15px;
}

@media (max-width: 480px) {
  .modal__container {
    padding: 22px;
  }
  .modal__heading {
    margin-bottom: 75px;
    font-size: 18px;
  }
  .modal__form {
    width: 238px;
  }
  .modal__close {
    width: 26px;
    height: 26px;
    left: auto;
    right: 0px;
    bottom: calc(100% + 15px);
  }
  .modal__button {
    font-size: 14px;
    margin-top: 13px;
  }
}
